<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments::header}"></head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="~{fragments::sidebar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!--

        -->
        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{fragments::top-navbar}"></nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <form class="form-horizontal" th:action="@{/save-product}" method="post" enctype="multipart/form-data" th:object="${product}">
                    <fieldset>
                        <!-- Form Name -->
                        <legend>ADD PRODUCTS</legend>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
                            <div class="col-md-4">
                                <input id="product_name" th:field="*{name}" name="product_name"
                                       class="form-control input-md" required="" type="text">
                            </div>
                        </div>

                        <!-- Select Basic -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="categories">PRODUCT CATEGORY</label>
                            <div class="col-md-4">
                                <select id="categories" th:field="*{category}" name="categories" class="form-control" required>
                                    <option th:value="null">-SELECT-</option>
                                    <option th:each="category : ${categories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="categories">PRODUCT MEASUREMENT</label>
                            <div class="col-md-4">
                                <select id="measurements" th:field="*{measurement}" name="categories" class="form-control" required>
                                    <option th:value="null">-SELECT-</option>
                                    <option th:each="measurement : ${measurements}"
                                            th:value="${measurement.id}"
                                            th:text="${measurement.name}">
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label for="product_calories">CALORIES</label>
                                <input id="product_calories" th:field="*{calories}" name="product_calories"
                                       class="form-control input-md" required="" type="number" min="0" step="0.01" placeholder="CALORIES">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label for="product_sugar">SUGAR</label>
                                <input id="product_sugar" th:field="*{sugar}" name="product_sugar"
                                       class="form-control input-md" required="" type="number" min="0" step="0.01" placeholder="SUGAR">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label for="product_fat">FAT</label>
                                <input id="product_fat" th:field="*{fat}" name="product_fat"
                                       class="form-control input-md" required="" type="number" min="0" step="0.01" placeholder="FAT">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label for="product_sodium">SODIUM</label>
                                <input id="product_sodium" th:field="*{sodium}" name="product_sodium"
                                       class="form-control input-md" required="" type="number" min="0" step="0.001" placeholder="SODIUM">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label for="product_carbs">CARBS</label>
                                <input id="product_carbs" th:field="*{carbs}" name="product_carbs"
                                       class="form-control input-md" required="" type="number" min="0" step="0.01" placeholder="CARBS">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label for="product_fiber">FIBER</label>
                                <input id="product_fiber" th:field="*{fiber}" name="product_fiber"
                                       class="form-control input-md" required="" type="number" min="0" step="0.01" placeholder="FIBER">
                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="description">PRODUCT DESCRIPTION </label>
                            <div class="col-md-4">
                                <input id="description" th:field="*{description}" name="description"
                                       class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="available_quantity">AVAILABLE QUANTITY</label>
                            <div class="col-md-4">
                                <input id="available_quantity" th:field="*{currentQuantity}" name="available_quantity"
                                       class="form-control input-md" required="" type="number" min="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="available_quantity">AMOUNT TO SELL</label>
                            <div class="col-md-4">
                                <input id="amount_to_sell" th:field="*{amountToSell}" name="amount_to_sell"
                                       class="form-control input-md" required="" type="number" min="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="available_quantity">AVERAGE WEIGHT</label>
                            <div class="col-md-4">
                                <input id="average_weight" th:field="*{averageWeight}" name="average_weight"  step="0.01"
                                       class="form-control input-md" required="" type="number" min="0">
                            </div>
                        </div>


                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="price">PRICE</label>
                            <div class="col-md-4">
                                <input id="price" name="price" th:field="*{costPrice}" class="form-control input-md"
                                       required="" type="number" min="0">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-md-4">
                                <!-- File Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="imageProduct">Image Product</label>
                                    <div class="col-md-4">
                                        <input id="imageProduct" name="imageProduct" class="input-file" type="file" multiple>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="~{fragments::footer}"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="~{fragments::scroll}"></a>

<!-- Bootstrap core JavaScript-->
<div th:replace="~{fragments::script}"></div>
<!--<script th:src="@{/js/categories.js}"></script>-->

</body>

</html>