<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments::header}">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul th:replace="~{fragments::sidebar}">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav th:replace="~{fragments::top-navbar}">
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <!--            <img th:src="/img/image-product/fish.jpg" alt="">-->

            <div class="container-fluid">
                <!--        <div class="input-group" style="width: 30%; margin-bottom: 20px;">-->
                <!--          <form th:action="@{/search-result/0}" method="get">-->
                <!--            <input type="text" class="form-control rounded" placeholder="Search" name="keyword"-->
                <!--                   aria-label="Search"-->
                <!--                   aria-describedby="search-addon"/>-->
                <!--            <button type="submit" class="btn btn-outline-primary">search</button>-->
                <!--          </form>-->
                <!--        </div>-->
                <!--                <div class="input-group" style="width: 30%; margin-bottom: 20px;">-->
                <!--                    <form th:action = "@{/search-products/0}" method = "get">-->
                <!--                        <input type="text" class="form-control rounded" placeholder="Search" name = "keyword" aria-label="Search"-->
                <!--                               aria-describedby="search-addon" />-->
                <!--                        <button type="submit" class="btn btn-outline-primary">search</button>-->
                <!--                    </form>-->
                <!--                </div>-->
                <!--        <a th:href="@{/add-product}" class="btn btn-primary">Add Product</a>-->
                <p th:if="${size == 0} ">No Recipe</p>
                <div th:if="${success}" class="text-center alert alert-success">
                    <p th:text="${success}"></p>
                </div>
                <div th:if="${error}" class="text-center alert alert-danger">
                    <p th:text="${error}"></p>
                </div>
                <table class="table table-bordered" th:if="${size > 0}">
                    <thead>
                    <tr>
                        <th scope="col">Recipe Name</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Recipe img</th>
                        <th scope="col">Portion</th>
                        <th scope="col">Cooking Time</th>
                        <th scope="col">Is Confirmed</th>
                        <th scope="col">Is Checked</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="recipe : ${recipes}">
                        <td th:text="${recipe.recipeName}"></td>
                        <td th:text="${recipe.customer.firstName}"></td>
                        <td><img style="width: 80px; height: 60px" th:src="@{'/' + ${recipe.image}}"></td>
                        <td th:text="${recipe.portion}"></td>
                        <td th:text="${recipe.cookingTime}"></td>
                        <td th:text="${recipe.confirmed}"></td>
                        <td th:text="${recipe.checked}"></td>

                        <td>
                            <a th:href="@{'/check-recipe/' + ${recipe.id}}" class="btn btn-primary">Check</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--Pagination  -->
                <nav aria-label="...">
                    <ul class="pagination">
                        <li th:if="${currentPage != 0}" class="page-item">
                            <a th:href="@{/recipes/{pageNo}(pageNo=${currentPage - 1})}" class="page-link">Previous</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(1, totalPages)}"
                            th:classappend="${currentPage == i - 1 ? 'active' : ''}" class="page-item">
                            <a th:href="@{/recipes/{pageNo}(pageNo=${i - 1})}" class="page-link">
                                <span th:text="${i}"></span>
                            </a>
                        </li>
                        <li th:if="${currentPage + 1 != totalPages}" class="page-item">
                            <a th:href="@{/recipes/{pageNo}(pageNo=${currentPage + 1})}" class="page-link">Next</a>
                        </li>
                    </ul>
                </nav>

                <!--Pagination  -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <!--        <footer th:replace="~{fragments::footer}">-->
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a th:replace="~{fragments::scroll}">
</a>


<!-- Bootstrap core JavaScript-->
<div th:replace="~{fragments::script}"></div>
</body>

</html>