<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->


<head>
    <div th:replace="~{fragments::head}"></div>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">
</div>
<!-- End Main Top -->


<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<style>
    body {
        background-color: #f8f6f2;
    }
</style>
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Recipe Detail</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="home.html">Home</a></li>
                    <li class="breadcrumb-item active"> Recipe Detail</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->

<!-- Start Shop Detail  -->
<div class="shop-detail-box-main d-flex justify-content-center align-items-center">
    <div class="container rounded">
        <div class="row">

            <div class="col-xl-8 col-lg-8 col-md-6">
                <div class="row rounded">
                    <img class="rounded" th:src="@{'/' + ${recipe.steps.get(1).images.get(0).getImgPath()}}"
                         style="width:680px ; height: 482px">
                </div>

                <div class="row mt-2 rounded d-block">
                    <h1 th:text="${recipe.name}"></h1>
                    <div class="media p-3">
                        <img th:src="@{'/' + ${recipe.customer.image}}" alt="John Doe" class="mr-3 mt-3 rounded-circle"
                             style="width:60px;">
                        <div class="media-body align-self-center">
                            <h3>Tên tác giả: <strong
                                    th:text="${recipe.customer.firstName + ' ' + recipe.customer.lastName}">John
                                Doe</strong></h3>
                            <p th:text="'@letcook_' + ${recipe.customer.firstName}">@letcook_john</p>
                            <button class="btn btn-warning">Follow</button>
                        </div>
                    </div>
                </div>

                <div class="row mt-2 rounded">
                    <div class="col-sm-6">
                        <h2>Nguyên liệu</h2>
                    </div>
                </div>
                <div class="row" th:each="ingredient: ${recipe.ingredients}">

                    <div class="col-sm-5">
                        <h5 th:text="${ingredient.name}">Tàu ky lá</h5>
                    </div>
                    <div class="col-sm-5">
                        <p th:text="'Số lượng '+ ${ingredient.amount} + ' ' + ${ingredient.measurement.name}">Số lượng:
                            1 cây</p>
                    </div>
                    <div class="col-sm-2"  th:if="${ingredient.product._activated}">
                        <form th:action="@{/add-to-cart}" method="post">
                            <input type="hidden" th:value="${ingredient.product.id}" name="id" class="form-control">
                            <button type="submit" class="btn bg-secondary rounded-circle" style="width: 24px; height: 24px; font-size: 12px; padding: 0;">+</button>
                        </form>
                    </div>
                </div>

                <div class="row mt-2 rounded">
                    <div class="col-sm-12" th:each="step, stepStat: ${recipe.steps}">
                        <h4 th:text="'Bước ' + ${stepStat.index + 1}"></h4>
                        <p th:text="${step.description}">Mô tả bước nấu ăn</p>
                        <img class="img-fluid mr-2"
                             style="width: 150px; height: 85px" th:src="@{'/' + ${stepImg.getImgPath()}}" a
                             lt="Ảnh bước nấu ăn"
                             th:each="stepImg: ${step.getImages()}">
                    </div>
                </div>

            </div>

            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="row rounded shadow">
                    <div class="col-lg-12">
                        <form th:action="${isFavorite} ? @{/remove-from-favorite} : @{/add-to-favorite}" method="post">
                            <input type="hidden" th:value="${recipe.id}" name="id" class="form-control">
                            <button class="btn btn-block bg-light text-dark btn-outline-secondary" type="submit">
                                <i class="fas fa-save"></i>
                                <span th:text="${isFavorite} ? 'Unsave' : 'Save'"></span>
                            </button>
                        </form>
                    </div>
                    <div class="col-lg-12">
                        <button class="btn btn-block bg-light text-dark btn-outline-secondary "><i class="fas fa-camera mr-2"></i>Gửi cooksnap</button>
                    </div>
                    <div class="col-lg-12 pb-3">
                        <button class="btn btn-block bg-light text-dark btn-outline-secondary"><i class="fas fa-flag mr-2"></i>Báo cáo</button>
                    </div>
                </div>
                <div class="row rounded shadow mt-5">
                    <div class="col-lg-12">
                        <h5 class="text-center">Thành phần dinh dưỡng</h5>
                    </div>
                    <div class="col-lg-12">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Thành phần</th>
                                <th>Giá trị</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><img class="mr-3" th:src="@{/images/calories.png}" alt="calo" width="40"
                                         height="40"><strong>Calo</strong></td>
                                <td><span th:text="${calories}"></span></td>
                            </tr>
                            <tr>
                                <td><img class="mr-3" th:src="@{/images/sugar.png}" alt="sugar" width="40"
                                         height="40"><strong>Sugar</strong></td>
                                <td><span th:text="${sugar}"></span></td>
                            </tr>
                            <tr>
                                <td><img class="mr-3" th:src="@{/images/vegetable (1).png}" alt="fiber" width="40"
                                         height="40"><strong>Fiber</strong></td>
                                <td><span th:text="${fiber}"></span></td>
                            </tr>
                            <tr>
                                <td><img class="mr-3" th:src="@{/images/low-sodium.png}" alt="sodim" width="40"
                                         height="40"><strong>Sodium</strong></td>
                                <td><span th:text="${sodium}"></span></td>
                            </tr>
                            <tr>
                                <td><img class="mr-3" th:src="@{/images/trans-fat.png}" alt="fat" width="40"
                                         height="40"><strong>Fat</strong></td>
                                <td><span th:text="${fat}"></span></td>
                            </tr>
                            <td><img class="mr-3" th:src="@{/images/low-carb-diet.png}" alt="carbs" width="40" height="40"><strong>Carbs</strong></td>
                            <td><span th:text="${carbs}"></span></td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Cart -->

<!-- Start Feed  -->
<div th:replace="~{fragments::instagram-box}"></div>


<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">

</footer>


<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>