<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
    />
    <title>Form Công Thức Nấu Ăn</title>
    <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/recipe.css}" type="text/css">

</head>
<body>
<div class="container">
    <form th:action="@{/add-recipe}" method="post" th:object="${recipe}">
        <div class="list-group">
            <label for="recipeName">Tên món ăn</label>
            <input
                    type="text"
                    class="form-control"
                    id="recipeName"
                    placeholder="Tên món ăn"
                    required
            />
            <label for="recipeDescription">Mô tả</label>
            <input
                    type="text"
                    class="form-control"
                    id="recipeDescription"
                    placeholder="Mô tả"
                    required
            />

            <div class="list-group-horizontal">
                <div class="form-group">
                    <label for="portion">Khẩu phần</label>
                    <input
                            type="text"
                            class="form-control"
                            id="portion"
                            placeholder="Khẩu phần"
                            required
                    />
                </div>
                <div class="form-group">
                    <label for="cookingTime">Thời gian nấu</label>
                    <input
                            type="text"
                            class="form-control"
                            id="cookingTime"
                            placeholder="Thời gian nấu"
                            required
                    />
                </div>
            </div>
        </div>
        <input type="hidden" id="ingredientCount">
        <!-- nguyên liệu -->
        <div class="list-group" >
            <!-- Dòng nguyên liệu ban đầu -->
            <div class="ingredient-row form-group">
                <label>Nguyên liệu 1:</label>
                <input
                        type="text"
                        class="form-control"
                        id="ingredient"
                        placeholder="Nguyên liệu 1"
                        required
                />
                <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Xoá Nguyên liệu"
                        onclick="removeIngredient(this)"
                >
                    Xoá
                </button>
            </div>
        </div>

        <button
                type="button"
                class="btn btn-primary"
                id="addIngredient"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Thêm Nguyên liệu"
        >
            Thêm
        </button>
        <input type="hidden" id="stepCount">
        <!-- bước thực hiện -->
        <div class="list-group">
            <!-- Dòng bước thực hiện ban đầu -->
            <div class="step-row form-group">
                <label for="step">Bước 1:</label>
                <input
                        type="text"
                        class="form-control"
                        id="step"
                        placeholder="Bước 1"
                        required
                />
                <input
                        type="file"
                        multiple
                        class="form-control-file"
                        id="step1Image"
                        accept="image/*"
                        required
                />
                <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Xoá Bước"
                        onclick="removeStep(this)"
                >
                    Xoá
                </button>
            </div>
        </div>

        <button
                type="button"
                class="btn btn-primary"
                id="addStep"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Thêm Bước"
        >
            Thêm
        </button>

        <button
                type="submit"
                class="btn btn-primary"
                data-bs-toggle="tooltip"
                data-bs-placement="top"
                title="Gửi"
        >
            Gửi
        </button>
    </form>
</div>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/js/recipe.js}"></script>
</body>
</html>